@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: poppins;
}

header,
main {
    margin: 0 140px;
}

.banner {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin: 50px 140px 140px 140px;
    padding: 110px 110px 0px 110px;
}

.banner-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

.banner-image {
    width: 50%;
    transform: scale(.75);

}

.banner-text h2 {
    font-size: 70px;
    font-weight: 700;
}

.banner-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.banner-text a {
    color: white;
    background: #DD0000;
    border-radius: 5px;
    text-decoration: none;
    padding: 16px 25px 16px 25px;

}

.banner-image img {
    width: 581px;
    height: 613px;

    transition: img .5s ease-in-out;


}

.banner:hover .banner-image img {

    transform: scale(1.35);
}

.container {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px 0 0 0;
    margin-right: 30px;
    border-radius: 10px;

}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    text-decoration: none;
    color: black;
    width: 153px;
    text-align: center;
    margin-bottom: 30px;
    padding: 17px 39px 17px 39px;
    border-radius: 10px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 100%
}

.blog {

    border-radius: 5px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
    justify-content: center;
}

.blog-text {
    padding: 5px;
}

.blog img {
    height: 175px;
    width: 312px;
}

.blog h3,
p {
    display: inline-block;
    width: 272px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 130px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 30px;

}

hr {
    width: 1000px;
    border: none;
    border-top: 3px solid rgba(255, 255, 255, 0.1);
}

.footer-links {
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    font-size: 30px;

}

.fa-brands {
    color: white;

}